<!-- Avatar settings must be changed in main.css -->
<div class="avatar">
   <img src="assets/img/gold_axe_pic_400x400.png" alt="Avatar">
</div>


<div style="text-align: left; margin: 5px auto; padding-left: 20px;">
  <p style="margin: 0; font-size: 18px; color: #333333;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi! My name is Branan and I'm pursuing a Master's of Computer Science at Georgia Institute of Technology, specializing in machine learning. For as long as I can remember, I've viewed the world through a uniquely analytical lens, leading me to set my sights on the broad field of data science.
  </p>
  <div style="height: 10px;"></div>
  <p style="margin: 0; font-size: 18px; color: #333333;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My professional experience consists of two internships: the first as a data analyst in commercial real estate, and most recently as an actuarial analyst at a large consulting firm in the healthcare space. My biggest takeaway from these two roles was simply how much I enjoy working with data. My favorite projects are those where I get to approach a problem through a creative lens, whether that be optimizing SQL queries, brainstorming ways to fix missing data, or simply choosing which visualization tells the best story for a presentation.
  </p>
  <div style="height: 10px;"></div>
  <p style="margin: 0; font-size: 18px; color: #333333;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;During undergrad, I studied at Northern Arizona University, where I double majored in mathematics and violin performance. Music has been a passion of mine since I was little, and I regularly perform in professional chamber groups and regional orchestras, as well as producing solo recordings. I've found the intersection of math and music to be larger than most would think, and I've given several presentations to a range of audiences to explore that intersection. I've included one such lecture in my portfolio below. 
  </p>
</div>

<div style="text-align: center; font-size: 60px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
  <div style="margin: 10px; flex: 1 1 0; text-align: center;">
    <h2 style="font-weight: 400; margin-top: 0; margin-bottom: 12px;">Resume</h2>
   <a href="https://drive.google.com/file/d/11v8Ferk0ECX_fbUCghCU8sYspNeJStAE/view?usp=sharing" target="_blank">
     <img src="https://img.icons8.com/officel/80/000000/open-resume.png" style="display: block; margin: 0 auto; transition: background-color 0.3s ease; border-radius: 10px; background-color: transparent;" onmouseover="this.style.backgroundColor='#f0f0f0';" onmouseout="this.style.backgroundColor='transparent';">
   </a>
    <a href="https://drive.google.com/file/d/11v8Ferk0ECX_fbUCghCU8sYspNeJStAE/view?usp=sharing" target="_blank" style="display: block; margin-top: 20px; font-size: 20px;">
      Link to resume
    </a>
  </div>

  <div style="margin: 10px; flex: 2 1 0;">
     <h2 style="font-weight: 400; margin-top: 0; margin-bottom: 12px;">Tools and Languages</h2>
     <div style="line-height: 0;">
       <img src="assets/img/icons8-python-64.png" style="vertical-align: middle;">
       <img src="assets/img/icons8-r-project-64 (1).png" style="vertical-align: middle;">
       <img src="assets/img/sql logo 6.jpg" style="vertical-align: middle;">
       <img src="assets/img/icons8-aws-64.png" style="vertical-align: middle;">
       <img src="assets/img/icons8-tableau-software-64.png" style="vertical-align: middle;">
       <img src="assets/img/icons8-excel-64.png" style="vertical-align: middle;">
       <img src="assets/img/icons8-microsoft-teams-2019-64.png" style="vertical-align: middle;">
     </div>
     <p style="font-size: 16px; line-height: 1.5; margin-top: 20px;">
       Tools I been introduced to and used in my Masters program: Git, Tableau, AWS (currently studying for the Cloud Practioner exam and will pursue the Certified Machine Learning – Specialty), MySQL Workbench, Jupyter Notebook, Google Colab, Hadoop, Apache Spark, Google Cloud Platform, Kali Linux and R Studio.
     </p>
  </div>
</div>
