 <div class="avatar">
   <img src="assets/img/gold_axe_pic_400x400.png" alt="Avatar">
</div>

<div style="text-align: left; margin: 5px auto;">
  <p style="margin: 0;">
    Bio here.
    <img src="https://img.icons8.com/color/48/000000/python.png" style="vertical-align: middle;">
    <img src="https://img.icons8.com/ultraviolet/40/000000/mysql.png" style="vertical-align: middle;">
    <img src="https://img.icons8.com/ultraviolet/40/000000/xbox-r.png" style="vertical-align: middle;">
  </p>
</div>

