<div class="user-details">
  <h1> My Portfolio </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Blog on towardsdatascience.com </h3>
    <p>Medium's <i>Towards Data Science</i> is a great place to share wisdom.
      Here you'll find my articles on data science experiences and best practices.</p>
      <p align="center"><a class="project-link" href="https://towardsdatascience.com/@d_haitz">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="particle-physics" src="{{ "/assets/img/s-bahn-hamburg.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> Public Data Visualizations</h3>
    <p>Occasionally, I create visualizations of public data, e.g. maps, traffic data or election results.
	    This includes interactive websites for e.g. town names or carsharing prices.
     </p>
    <p align="center">
      <a class="project-link" href="https://instagram.com/dhaitz_data">Dataviz Instagram</a>
      <a class="project-link" href="https://ortsnamen.herokuapp.com">Town name suffix maps</a>
      <a class="project-link" href="https://carsharing-hh.herokuapp.com">Hamburg carsharing price comparison</a>
    </p>
  </div>
</div>

