<div class="user-details">
  <h1> My Portfolio </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <a href="https://github.com/brananharrison/EmployeeScheduler" target="_blank" style="display: block; overflow: hidden; border: 1px solid black; border-radius: 10px;">
      <img alt="writing" src="{{ 'assets/img/sched11.png' | prepend: site.baseurl }}" style="width: 100%; height: auto; transform: scale(1); transform-origin: top left;" />
    </a>
  </div>
  <div class="contents-right">
    <a href="https://github.com/brananharrison/EmployeeScheduler" target="_blank" style="text-decoration: none; color: inherit;">
      <h3>Employee Scheduling Algorithm</h3>
    </a>
    <p>A probabilistic, iterative model designed to automate the task of creating weekly schedules for mid-level managers.
    </p>
    <p align="center">
      <a class="project-link" href="https://github.com/brananharrison/EmployeeScheduler" target="_blank" style="font-size: 1.3rem;">Details on Github</a>
    </p>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <a href="https://public.tableau.com/app/profile/branan.harrison/vizzes" target="_blank">
      <img alt="writing" src="{{ "assets/img/Tableau-Logo.png" | prepend: site.baseurl }}" style="transform: scale(1); transform-origin: top left; border: 1px solid black; border-radius: 10px;" />
    </a>
  </div>
  <div class="contents-left">
    <a href="https://public.tableau.com/app/profile/branan.harrison/vizzes" target="_blank" style="text-decoration: none; color: inherit;">
      <h3>My Tableau Public</h3>
    </a>
    <p>A collection of four data visualizations I made in the process of teaching myself Tableau.
    </p>
     <p align="center">
      <a class="project-link" href="https://public.tableau.com/app/profile/branan.harrison/vizzes" target="_blank" style="font-size: 1.3rem;">Tableau Public</a>
    </p>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <a href="https://docs.google.com/document/u/1/d/e/2PACX-1vQFyXbe7eYSu_XDre3j3aj_vIpRpP092ZK1vlOn9lz5l8WRrRgfAljqXcTZr_KU6Njjhb6wRdFMGLNt/pub" target="_blank">
      <img alt="writing" src="{{ "assets/img/2-d manifolds screenshot.png" | prepend: site.baseurl }}" style="transform: scale(1); transform-origin: top left; border: 1px solid black; border-radius: 10px;" />
    </a>
  </div>
  <div class="contents-right">
    <a href="https://docs.google.com/document/u/1/d/e/2PACX-1vQFyXbe7eYSu_XDre3j3aj_vIpRpP092ZK1vlOn9lz5l8WRrRgfAljqXcTZr_KU6Njjhb6wRdFMGLNt/pub" target="_blank" style="text-decoration: none; color: inherit;">
      <h3>Topology Research Paper</h3>
    </a>
    <p>An exploratory analysis and explanation of 2-D manifolds, written for my capstone undergraduate research requirement at NAU.
    </p>
     <p align="center">
      <a class="project-link" href="https://docs.google.com/document/u/1/d/e/2PACX-1vQFyXbe7eYSu_XDre3j3aj_vIpRpP092ZK1vlOn9lz5l8WRrRgfAljqXcTZr_KU6Njjhb6wRdFMGLNt/pub" target="_blank" style="font-size: 1.3rem;">Link to paper</a>
    </p>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <a href="https://www.youtube.com/channel/UCQpuWD5w897ZF49Gk3cpxww" target="_blank" style="display: block; overflow: hidden; border: 1px solid black; border-radius: 10px;">
      <img alt="writing" src="{{ 'assets/img/Tchaik w orch thumbnail.jpg' | prepend: site.baseurl }}" style="width: 100%; height: auto; transform: scale(1); transform-origin: top left;" />
    </a>
  </div>
  <div class="contents-left">
    <a href="https://www.youtube.com/channel/UCQpuWD5w897ZF49Gk3cpxww" target="_blank" style="text-decoration: none; color: inherit;">
      <h3>Recent Violin Performances</h3>
    </a>
    <p>A collection of my recent performances and recordings.
    </p>
    <p align="center">
      <a class="project-link" href="https://www.youtube.com/channel/UCQpuWD5w897ZF49Gk3cpxww" target="_blank" style="font-size: 1.3rem;">Link to Youtube</a>
    </p>
  </div>
</div>




<!-- <p>
<div class="user-projects">
  <div class="images-left">
    <img alt="particle-physics" src="{{ "/assets/img/s-bahn-hamburg.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> Public Data Visualizations</h3>
    <p>Occasionally, I create visualizations of public data, e.g. maps, traffic data or election results.
	    This includes interactive websites for e.g. town names or carsharing prices.
     </p>
    <p align="center">
      <a class="project-link" href="https://instagram.com/dhaitz_data">Dataviz Instagram</a>
      <a class="project-link" href="https://ortsnamen.herokuapp.com">Town name suffix maps</a>
      <a class="project-link" href="https://carsharing-hh.herokuapp.com">Hamburg carsharing price comparison</a>
    </p>
  </div>
</div>
</p> -->

